---
import MainLayout from "../layouts/MainLayout.astro";
import Work from "../components/Work.astro";
import Experience from "../components/Experience.astro";
import About from "../components/About.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="h-screen flex justify-center items-center">
    <div class="pb-36 text-center">
      <div class="text-5xl mb-14">Hiya 👋 Matt here</div>
      <div class="text-3xl mb-12">
        I'm a passionate and<br />driven software engineer<br />looking for a
        new gig
      </div>
      <a
        href="mailto:matthew.peterse@gmail.com"
        class="text-lg p-2 text-black/50 hover:text-black"
      >
        (let me know if you hear anything)
      </a>
    </div>
  </div>

  <Work />
  <Experience />
  <About />
</MainLayout>
