<div
  id="posts"
  class="min-h-screen flex justify-center items-center overflow-hidden pt-20 md:mt-0"
>
  <div class="px-4 pb-20">
    <div class="text-4xl text-center mb-20">Posts</div>
    <div class="grid gap-3">
      <a
        class="block p-4 md:p-10 border rounded-md"
        href="/posts/ipad-inspired-mouse-pointer-on-web-with-css-variables"
        >iPad Inspired Mouse Pointer on Web with CSS Variables
        <div class="text-xs text-gray-500 mt-1">#css #javascript</div>
      </a>
      <a
        class="block p-4 md:p-10 border rounded-md"
        href="/posts/reversing-a-linked-list-or-why-i-flubbed-that-interview"
        >Reversing a Linked List, or Why I Flubbed that Interview
        <div class="text-xs text-gray-500 mt-1">
          #interviewing #data-structures #javascript
        </div>
      </a>
    </div>
  </div>
</div>
