<div
  id="posts"
  class="min-h-screen flex justify-center items-center overflow-hidden pt-20 md:mt-0"
>
  <div class="pb-20">
    <div class="text-4xl text-center mb-20">Posts</div>
    <a
      class="block p-10 border rounded-md"
      href="/posts/ipad-inspired-mouse-pointer-on-web-with-css-variables"
      >iPad Inspired Mouse Pointer on Web with CSS Variables</a
    >
  </div>
</div>
