<div class="h-screen flex justify-center items-center">
  <div class="flex h-full py-20 gap-10">
    <div class="h-full">
      <a href="#">
        <img src="resume.png" class="max-h-full border rounded-md" />
      </a>
    </div>
    <div class="flex flex-col gap-2 pt-2">
      <a
        href="#"
        class="inline-block bg-blue-500 text-white text-center p-2 w-52 rounded-md"
        ><i class="fa-duotone fa-file-arrow-down"></i> Download PDF</a
      >
      <a
        href="#"
        class="inline-block bg-gray-400 text-white text-center p-2 w-52 rounded-md"
        ><i class="fa-duotone fa-file"></i> Unformatted PDF
      </a>
      <a
        href="#"
        class="inline-block bg-gray-400 text-white text-center p-2 w-52 rounded-md"
        ><i class="fa-duotone fa-file-word"></i> Unformatted DOCX</a
      >
    </div>
  </div>
</div>
