<div id="experience" class="md:h-screen flex justify-center items-center">
  <div class="px-4 md:px-0 md:flex h-full py-20 gap-4">
    <div class="md:h-full">
      <a
        href="assets/Matt%20Peterse%20Resume%202023.pdf"
        target="_blank"
        rel="noopener"
      >
        <img
          src="assets/images/resume.png"
          class="max-h-full border rounded-md"
        />
      </a>
    </div>
    <div class="flex flex-col mt-4 md:mt-0">
      <a
        href="assets/Matt%20Peterse%20Resume%202023.pdf"
        target="_blank"
        rel="noopener"
        class="p-1"
      >
        <div
          class="bg-blue-500 text-white text-center p-2 w-full md:w-52 rounded-md"
        >
          <i class="fa-duotone fa-file-pdf"></i> Resume PDF
        </div></a
      >
      <a
        href="assets/Matt%20Peterse%20Resume%202023.docx"
        target="_blank"
        rel="noopener"
        class="p-1"
      >
        <div
          class="bg-gray-500 text-white text-center p-2 w-full md:w-52 rounded-md"
        >
          <i class="fa-duotone fa-file-word"></i> Resume DOCX
        </div></a
      >
      <a
        href="https://www.linkedin.com/in/mattpeterse"
        target="_blank"
        rel="noopener"
        class="p-1"
      >
        <div
          class="bg-gray-400 text-white text-center p-2 w-full md:w-52 rounded-md"
        >
          <i class="fa-brands fa-linkedin"></i> LinkedIn
        </div></a
      >
    </div>
  </div>
</div>
