---
import { SITE_TITLE } from "../config";
---

<header class="fixed w-full flex justify-between p-3 bg-white z-10">
  <h2 class="text-lg uppercase">
    {SITE_TITLE}
  </h2>
  <nav>
    <a class="mr-2" href="/">Home</a>
    <a class="mr-2" href="/work">Work</a>
    <a class="mr-2" href="/about">About</a>
    <a class="mr-2" href="https://github.com/withastro/astro" target="_blank">
      GitHub</a
    >
    <a href="https://github.com/withastro/astro" target="_blank"> LinkedIn</a>
  </nav>
</header>
