---
import { SITE_TITLE } from "../config";
---

<header class="fixed w-full flex justify-between p-1 bg-white/95 z-20">
  <a href="#" class="p-2">
    <h2 class="text-lg uppercase">
      {SITE_TITLE}
    </h2>
  </a>
  <nav class="p-2">
    <a class="p-2" href="/work">Work</a>
    <a class="p-2" href="/work">Experience</a>
    <a class="p-2" href="/about">About</a>
  </nav>
</header>
