<div id="work" class="grid md:grid-cols-3 gap-6 p-8 pt-12 pb-32 -mt-48">
  <div class="flex flex-col gap-6 mt-20">
    <a class="p-2" href="https://www.acdc.com" target="_blank" rel="noopener">
      <div class="relative flex justify-center items-end w-full aspect-[3/2]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/ac-dc.png)]"
          >
          </div>
        </div>
        <div class="relative -mb-7 rounded-md overflow-hidden">
          <div class="p-2 bg-black text-white text-center">
            <div class="text-xl font-bold">
              AC<i class="fa-duotone fa-bolt"></i>DC
            </div>
            <div class="text-xs">Columbia Records &bull; freelance</div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Official Website</div>
              <div>&bull;</div>
              <div>Summer &apos;21</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>Wordpress</div>
              <div>&bull;</div>
              <div>PHP</div>
              <div>&bull;</div>
              <div>HTML</div>
              <div>&bull;</div>
              <div>CSS</div>
              <div>&bull;</div>
              <div>JS</div>
            </div>
            <div class="text-xs text-center">acdc.com</div>
          </div>
        </div>
      </div>
    </a>

    <a class="p-2 cursor-default">
      <div class="relative flex justify-end items-center w-full aspect-[3/4]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url('assets/images/harry-styles.png')]"
          >
          </div>
        </div>
        <div class="relative -mr-7 rounded-md overflow-hidden">
          <div class="p-2 bg-green-600 text-white text-center">
            <div class="text-xl font-bold">Harry Styles</div>
            <div class="flex justify-between text-xs">
              <div>Columbia Records</div>
              <div class="px-1">&bull;</div>
              <div>freelance</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Promo Site</div>
              <div class="px-1">&bull;</div>
              <div>Spring &apos;22</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>React</div>
              <div class="px-1">&bull;</div>
              <div>Typescript</div>
              <div class="px-1">&bull;</div>
              <div>Canvas API</div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a class="p-2 cursor-default">
      <div class="relative flex justify-center items-end w-full aspect-[7/4]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/pearl-jam.png)]"
          >
          </div>
        </div>
        <div class="relative -mb-7 rounded-md overflow-hidden">
          <div class="p-2 bg-teal-900 text-white text-center">
            <div class="text-xl font-bold">Pearl Jam</div>
            <div class="flex justify-between text-xs">
              <div>Republic Records</div>
              <div class="px-1">&bull;</div>
              <div>freelance</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Promo Site</div>
              <div class="px-1">&bull;</div>
              <div>Winter &apos;19</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>HTML</div>
              <div class="px-1">&bull;</div>
              <div>CSS</div>
              <div class="px-1">&bull;</div>
              <div>JS</div>
              <div class="px-1">&bull;</div>
              <div>Mapbox</div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a
      class="p-2"
      href="https://keypressgroup.com/"
      target="_blank"
      rel="noopener"
    >
      <div
        class="flex justify-end items-end w-full aspect-[3/2] rounded-md bg-center bg-cover bg-[url(assets/images/keypress-group.png)]"
      >
        <div class="-mr-7 -mb-7 rounded-md overflow-hidden">
          <div class="p-2 bg-blue-500 text-white text-center">
            <div class="text-xl font-bold">Keypress Group</div>
            <div class="flex justify-between text-xs">
              <div>Sr. Software Engineer</div>
              <div class="px-1">&bull;</div>
              <div>full-time</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>July &apos;14 - May &apos;21</div>
              <div class="px-1">&bull;</div>
              <div>Jersey Shore</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>ASP.NET MVC</div>
              <div class="px-1">&bull;</div>
              <div>C#</div>
              <div class="px-1">&bull;</div>
              <div>VB.NET</div>
              <div class="px-1">&bull;</div>
              <div>SQL</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="flex flex-col gap-6">
    <a
      class="p-2"
      href="https://brucespringsteen.net/"
      target="_blank"
      rel="noopener"
    >
      <div class="relative flex justify-end items-center w-full aspect-[3/4]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/bruce-springsteen.png)]"
          >
          </div>
        </div>
        <div class="relative -mr-7 rounded-md overflow-hidden">
          <div class="p-2 bg-yellow-200">
            <div class="text-xl font-bold">Bruce Springsteen</div>
            <div class="text-xs">Columbia Records &bull; freelance</div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Official Website</div>
              <div>&bull;</div>
              <div>Fall &apos;20</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>Wordpress</div>
              <div>&bull;</div>
              <div>PHP</div>
              <div>&bull;</div>
              <div>HTML</div>
              <div>&bull;</div>
              <div>CSS</div>
              <div>&bull;</div>
              <div>JS</div>
            </div>
            <div class="text-xs text-center">brucespringsteen.net</div>
          </div>
        </div>
      </div>
    </a>

    <a
      class="p-2"
      href="https://www.mileycyrus.com/giveyoursefflowers/"
      target="_blank"
      rel="noopener"
    >
      <div class="relative flex justify-start items-end w-full aspect-[3/4]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/miley-cyrus.png)]"
          >
          </div>
        </div>
        <div class="relative -ml-7 mb-16 rounded-md overflow-hidden">
          <div class="p-2 bg-black text-white text-center">
            <div class="text-xl font-bold">Miley Cyrus</div>
            <div class="flex justify-between text-xs">
              <div>Columbia Records</div>
              <div class="px-1">&bull;</div>
              <div>freelance</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Promo Site</div>
              <div class="px-1">&bull;</div>
              <div>Winter &apos;23</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>React</div>
              <div class="px-1">&bull;</div>
              <div>Typescript</div>
              <div class="px-1">&bull;</div>
              <div>Canvas API</div>
            </div>
            <div class="text-xs">mileycyrus.com/giveyoursefflowers</div>
          </div>
        </div>
      </div>
    </a>

    <a class="p-2" href="http://www.imablackstar.com/">
      <div class="relative flex justify-center items-end w-full aspect-square">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/david-bowie.png)]"
          >
          </div>
        </div>
        <div class="relative -mb-7 rounded-md overflow-hidden">
          <div class="p-2 bg-gray-600 text-white text-center">
            <div class="text-xl font-bold">David Bowie</div>
            <div class="flex justify-between text-xs">
              <div>Columbia Records</div>
              <div class="px-1">&bull;</div>
              <div>freelance</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Promo Site</div>
              <div class="px-1">&bull;</div>
              <div>Fall &apos;15</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>HTML</div>
              <div class="px-1">&bull;</div>
              <div>CSS</div>
              <div class="px-1">&bull;</div>
              <div>JS</div>
              <div class="px-1">&bull;</div>
              <div>Canvas API</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>Facebook API</div>
              <div class="px-1">&bull;</div>
              <div>Instagram API</div>
            </div>
            <div class="text-xs text-center">imablackstar.com</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="flex flex-col gap-6 mt-12">
    <a
      class="p-2"
      href="https://www.airvet.com/"
      target="_blank"
      rel="noopener"
    >
      <div class="relative flex justify-end items-end w-full aspect-[5/4]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/airvet.png)]"
          >
          </div>
        </div>
        <div class="relative m-3 -mb-7 rounded-md overflow-hidden">
          <div class="p-2 bg-blue-500 text-white text-center">
            <div class="text-xl font-bold">Airvet</div>
            <div class="flex justify-between text-xs">
              <div>Sr. Web Engineer II</div>
              <div class="px-1">&bull;</div>
              <div>full-time</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>May &apos;21 - Jan &apos;23</div>
              <div class="px-1">&bull;</div>
              <div>Remote</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>React</div>
              <div class="px-1">&bull;</div>
              <div>NextJS</div>
              <div class="px-1">&bull;</div>
              <div>Typescript</div>
            </div>
            <div class="text-xs text-center">airvet.com</div>
          </div>
        </div>
      </div>
    </a>

    <a
      class="p-2"
      href="https://jackwhiteiii.com/timeline/"
      target="_blank"
      rel="noopener"
    >
      <div class="relative flex justify-center items-start w-full aspect-[2/3]">
        <div
          class="background absolute w-full h-full rounded-md overflow-hidden"
        >
          <div
            class="absolute w-full top-[-50px] bottom-[-50px] bg-center bg-cover bg-[url(assets/images/jack-white.png)]"
          >
          </div>
        </div>
        <div class="relative mt-10 rounded-md overflow-hidden">
          <div class="p-2 bg-white text-black text-center">
            <div class="text-xl font-bold">Jack White</div>
            <div class="flex justify-between text-xs">
              <div>XL Recordings</div>
              <div class="px-1">&bull;</div>
              <div>freelance</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>Promo Site</div>
              <div class="px-1">&bull;</div>
              <div>Fall &apos;16</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>HTML</div>
              <div class="px-1">&bull;</div>
              <div>CSS</div>
              <div class="px-1">&bull;</div>
              <div>JS</div>
              <div class="px-1">&bull;</div>
              <div>Video API</div>
            </div>
            <div class="text-xs">jackwhiteiii.com/timeline</div>
          </div>
        </div>
      </div>
    </a>

    <a
      class="p-2"
      href="https://columbiarecords.com/"
      target="_blank"
      rel="noopener"
    >
      <div
        class="flex justify-start items-end w-full aspect-square rounded-md bg-center bg-cover bg-[url(assets/images/columbia-records.png)]"
      >
        <div class="-ml-7 mb-7 rounded-md overflow-hidden">
          <div class="p-2 bg-orange-300 text-black text-center">
            <div class="text-xl font-bold">Columbia Records</div>
            <div class="flex justify-between text-xs">
              <div>Sr. Web Developer</div>
              <div class="px-1">&bull;</div>
              <div>full-time</div>
            </div>
          </div>
          <div class="p-2 bg-gray-700 text-white">
            <div class="flex justify-between text-xs">
              <div>June &apos;11 - June &apos;14</div>
              <div class="px-1">&bull;</div>
              <div>New York</div>
            </div>
            <div class="flex justify-between text-xs">
              <div>HTML</div>
              <div class="px-1">&bull;</div>
              <div>CSS</div>
              <div class="px-1">&bull;</div>
              <div>JS</div>
              <div class="px-1">&bull;</div>
              <div>jQuery</div>
              <div class="px-1">&bull;</div>
              <div>PHP</div>
              <div class="px-1">&bull;</div>
              <div>MySQL</div>
            </div>
            <div class="text-xs text-center">columbiarecords.com</div>
          </div>
        </div>
      </div>
    </a>

    <div class="mt-20 mx-10">
      <i class="fa-duotone fa-comment fa-flip-horizontal text-4xl"></i>
      <span class="text-xl">Pssst...</span>
      <em class="block my-1">You can be a rock star too!</em>
      <div class="text-sm">
        Don't get me wrong, I love coding websites for the likes of those listed
        above, but I prefer to commit my days to working with a team of
        engineers to make smart and functional software.
      </div>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";

  addEventListener("scroll", handleScroll);
  handleScroll();

  function handleScroll() {
    gsap.to("#work > div:nth-child(1)", {
      duration: 0.3,
      transform: `translate(0, ${
        window.innerWidth > 767 ? window.scrollY * -0.13 : 0
      }px)`,
    });
    gsap.to("#work > div:nth-child(3)", {
      duration: 0.3,
      transform: `translate(0, ${
        window.innerWidth > 767 ? window.scrollY * -0.08 : 0
      }px)`,
    });

    for (var el of document.querySelectorAll("#work .background")) {
      var rect = el.getBoundingClientRect();
      var delta = Math.max(
        Math.min(
          (rect.top + rect.height) / (window.innerHeight + rect.height),
          1
        ),
        0
      );
      console.log(delta);
      gsap.to(el.children, {
        y: (delta - 0.5) * 100,
      });
    }
  }
</script>
