---
import BaseLayout from "../layouts/BaseLayout.astro";
const {
  frontmatter: { title, description },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="max-w-3xl mx-auto py-20 prose">
    <slot />
  </div>
</BaseLayout>
