---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cursor from "../components/Cursor.astro";

const { title, description } = Astro.props;
---

<html class="scroll-smooth" lang="en">
  <Head title={title} description={description} />

  <body class="cursor-[url(assets/images/pointer.svg)_4_4,_auto]">
    <Header />
    <slot />
    <Footer />
    <Cursor />
  </body>
</html>
